<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Metadata for character set and viewport settings -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <!-- Internal CSS styling -->
    <style>
        section {
            /* Define styling for the section */
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: 500;
            max-width: 60%;
            max-height: 150px;
            margin: 2em auto;
            padding: 15px;
            background-color: wheat;
            border-radius: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        div .time {
            font-size: 25px;
        }

        /* ... Other styling rules for different elements */

        .pay {
            /* Styling for payment button */
            background-color: blueviolet;
            border: 2px solid wheat;
            color: white;
            width: 100px;
            padding: 5px 10px;
            text-align: center;
            text-decoration: none;
            font-size: 20px;
        }

        .buttonn {
            /* Styling for delete button */
            background-color: red;
            border: 2px solid wheat;
            color: white;
            padding: 5px 10px;
            text-align: center;
            text-decoration: none;
            font-size: 20px;
        }

        .div-pay {
            /* Styling for the payment button container */
            width: 20px;
            padding-left: 45%;
        }

        .div-pay a:hover {
            /* Styling for payment button hover effect */
            text-decoration: none;
            color: wheat;
        }

        footer {
            /* Styling for the footer */
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #262626;
            color: #f90101;
            text-align: center;
            padding: 20px 0;
        }
    </style>
</head>

<body>
    <!-- Page title -->
    <h1 style="text-align: center; padding-top:5px; color:orange">Welcome To CART</h1>

    <!-- Handle user data and iterate through the dataset -->
    {{#if user}}
    {{#each dataset}}
    <section>
        <div>
            <!-- Display time, nonstop, and price information -->
            <span class="time">{{this.time}}</span>
            <span class="nonstop">{{this.nonstop}}</span>
            <span class="price">CA ${{this.price}}</span>
        </div>
        <div>
            <!-- Display city, date, and airline information -->
            <span class="city">{{this.city}}</span>
            <span class="date">{{this.date}}</span>
            <span class="airline">{{this.flight}}</span>
        </div>
       
       <!-- Delete button for each section -->
       <a href="/cart/delete/{{this._id}}" class="buttonn">Delete</a>
    </section>
    {{/each}}
    {{/if}}

    <!-- Payment button -->
    <br>
    <div class="div-pay">
        <a href="/payment" class="pay">Payment</a>
    </div><br><br>
</body>

</html>
